# .gitignore

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# Local development files
/db-data/

# System Files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
